body {
    font-family: Arial, sans-serif;
    background-color: #e8f0fe;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    background: rgb(243, 247, 243);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    color: #c61ae8;
    margin-bottom: 20px;
}

.login-box {
    width: 300px;
    margin: 0 auto;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background-color: #fd68a1;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #155ab6;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #1a73e8;
    color: white;
}

.logout-btn {
    display: inline-block;
    margin-top: 20px;
    background: #e53935;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 6px;
}

.logout-btn:hover {
    background: #c62828;
}
